# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
vendor/
go.sum

# Build
bin/
dist/
build/
target/
out/
*.class
*.exe
*.dll
*.so
*.dylib

# Env
.env
.env.local
